<div class="flex">
    <nav>
        <a href="" routerLink="/loja">LOJA</a>
        <a href="">CONTATO</a>
        <a href="">JOGO</a>
        <button type="button" id="b1" >ENTRAR</button>
    </nav>
    <img src="assets\jackAlerta.svg" id="jack">
    <div class="barra1">&nbsp;&nbsp;JACK TE CONVIDA</div>
    <div class="barra2">&nbsp;&nbsp;PARA CONHECER</div>
    <div class="barra3">&nbsp;&nbsp;O SITE DE BASQUETE DA UNIFACISA
        </div>
    <div class="painel-cadastro">
        <img src="assets\basqueteLOGO.png" id="logo">
        <form>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" >

            <label for="email">Email:</label>
            <input type="text" id="email">

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf">
            
            <label for="senha">Senha:</label>
            <input type="text" id="senha">

            <label for="confirmar-senha">Digite novamente a sua senha:</label>
            <input type="text" id="confirmar-senha" >

            <button type="submit" id="criarConta">Criar sua conta</button>
        </form>
    </div>
    
</div>