<div class="flex">
        <nav>
                <img src="assets\basqueteLOGO.png" id="logo">
                <a href="" routerLink="/loja">LOJA</a>
                <a href="">CONTATO</a>
                <a href="">JOGO</a>
                <button type="button" id="b1" >ENTRAR</button>
            </nav>
        <div class="barra">
            <div class="pedaco1">
                <h1>PRODUTOS</h1>
                <hr>
                <img src="assets\carrinhoLaranja.svg" id="cl">
            </div>
            <div class="pedaco2">
                <h3 id="textoc">CARRINHO</h3>
                <h2 id="textop">R$: 00,00</h2>
            </div>
        </div>
        <div class="menu">
            <div class="produtos" id="produtos1">
                <div id="c1">
                    <div class="barrinha">
                        <h4>RS:40,00</h4>
                        <img src="assets\carrinhoBranco.svg" class="carrinho-branco">
                    </div>
                </div>
                <div id="c2">
                        <div class="barrinha">
                            <h4>RS:50,00</h4>
                            <img src="assets\carrinhoBranco.svg" class="carrinho-branco">
                        </div>
                    </div>
                <div id="c3">
                    <div class="barrinha">
                        <h4>RS:80,00</h4>
                        <img src="assets\carrinhoBranco.svg" class="carrinho-branco">
                    </div>
                </div> 
                <div id="c4">
                        <div class="barrinha">
                            <h4>RS:10,00</h4>
                            <img src="assets\carrinhoBranco.svg" class="carrinho-branco">
                        </div>
                </div>
            </div>
            <div class="produtos" id="produtos2">
                <div class="caneca" id="ca1"><div class="barrinha">
                        <h4>RS:23,00</h4>
                        <img src="assets\carrinhoBranco.svg" class="carrinho-branco">
                </div></div>
                <div class="caneca" id="ca2"><div class="barrinha">
                    <h4>RS:83,00</h4>
                    <img src="assets\carrinhoBranco.svg" class="carrinho-branco"></div></div>
                <div class="caneca" id="ca3"><div class="barrinha">
                    <h4>RS:26,00</h4>
                    <img src="assets\carrinhoBranco.svg" class="carrinho-branco"></div></div>
                <div class="caneca" id="ca4"><div class="barrinha">
                    <h4>RS:56,00</h4>
                    <img src="assets\carrinhoBranco.svg" class="carrinho-branco"></div></div>
            </div>
        </div>        
</div>